{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>
                {{ fruit.name }}
                {% if fruit.readyToEat %}
                    Ready to Eat
                {% else %}
                    Not Ready to Eat
                {% endif %}
            </h2>
            <h3>{{ fruit.color }}</h3>
            <!-- so you can only edit your fruits only -->
            {% if fruit.owner == userId %}
                <div class="btn-group">
                    <a href="/fruits/{{fruit.id}}/edit"><button class="btn btn-primary">Edit</button></a>
                    <form action="/fruits/{{ fruit._id }}?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE THAT FRUIT" class="btn btn-danger">
                    </form>
                </div>
            {% endif %}
        </article>
        <div class="col-md-6">
            <form action="/comments/{{fruit.id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="enter comment here...">
                </fieldset>
                <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
        </div>
        <!-- We need and if statement -->
        <!-- This will solve a potential problem -->
        <!-- If the fruit has no comments, we won't even try to show any -->
        {% if fruit.comments.length > 0 %}
            <!-- Here we'll add our comment container -->
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- Here we need to loop over the comments -->
                    <!-- For every comment, render a comment.liquid block -->
                    {% for comment in fruit.comments %}
                        {% render '../comment.liquid', comment: comment, userId: userId, fruit: fruit %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}